# GROQ_API_KEY: Required for Groq Chatbot. 
GROQ_API_KEY="Your_groq_api_here"

# APP_URL: The URL where this application is hosted.
# For local development, this defaults to http://localhost:3000
APP_URL="http://localhost:3000"

